
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .memory-card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }

  .memory-card img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .memory-card .front-face {
    transform: rotateY(180deg);
  }
  
  .memory-card.flipped .front-face {
    transform: rotateY(0);
  }

